<!DOCTYPE html>
<html>
    <link rel="icon" type="image/png" href="favicon.ico">
    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script> 
    <!-- Latest AngularJS -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.min.js"></script>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

    <body ng-app="NetBeans" ng-controller="CustomerListCtrl">
        <div class="container" >

            <h1>Hello World from NetBeans snippet!</h1>
            <div class="tableContainer">
                <table id="customerList" ng-table="customerList" class="table table-striped">

                    <tr ng-repeat="customer in customers">
                        <td title="'Name'">{{customer.name}}</td>
                        <td title="'Family Name'">{{customer.familyName}}</td>
                        <td><a ng-click="editCustomer(customer.id)" class="btn btn-small btn-primary">edit</a></td>
                        <td><a ng-click="deleteCustomer(customer.id)" class="btn btn-small btn-danger">delete</a></td>
                    </tr>
                </table>
                <!-- Button trigger modal -->
                <button type="button" class="btn btn-default" data-toggle="modal" data-target="#myModal">
                    New Customer
                </button>
            </div>
        </div>

        <div ng-controller="CustomerCreationCtrl">            
            <!-- Modal -->
            <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title" id="myModalLabel">Create new customer</h4>
                        </div>
                        <div class="modal-body">
                            <form>
                                <div class="form-group">
                                    <label for="inputFirstName" class="control-label">First name:</label>
                                    <input type="text" id="inputFirstName" class="form-control" ng-model="customer.name" placeholder="First name"/>
                                </div>
                                <div class="form-group">
                                    <label for="inputLastName" class="control-label">Last name:</label>
                                    <input type="text" id="inputLastName" class="form-control" ng-model="customer.familyName" placeholder="Last name"/>
                                </div>
                                <div class="form-group">
                                    <label for="inputDescription" class="control-label">Description:</label>
                                    <input type="text" id="inputDescription" class="form-control" ng-model="customer.description" placeholder="Description"/>
                                </div>
                                <div class="form-group">
                                    <label for="inputDate" class="control-label">Date of birth: </label><br/>
                                    <div style="display:inline-block; min-height:290px;">
                                        <datepicker ng-model="customer.birthDate" min-date="minDate" show-weeks="false" class="well well-sm" custom-class="getDayClass(date, mode)"></datepicker>
                                    </div>
                                </div>


                            </form>
                        </div>
                        <div class="modal-footer">
                            <a ng-click="createNewCustomer()" class="btn btn-small btn-primary">Create</a>
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.7/angular-resource.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.7/angular-cookies.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.7/angular-sanitize.js"></script>



        <script src="http://angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.11.0.js"></script>    

        <link rel="stylesheet" href="plugins/ng-table/ng-table.min.css">

        <script src="plugins/ng-table/ng-table.min.js"></script>

        <script src = "scripts/app.js"></script>
        <link rel="stylesheet" href="styles/style.css">
        <script src="scripts/services/services.js"></script>
        <script src="scripts/controllers/controllers.js"></script>
    </body>
</html>